<%=link "New User", to: Routes.post_path(@conn, :new)%>
<table>
    <tr>
        <td>TITLE</td>
        <td>BODY</td>
    </tr>
<%=for post <- @posts do%>
    <tr>
        <td><%=post.title%></td>
        <td><%=post.body%></td>
    </tr>
<%end%>
</table>