<%=link "New Post", to: Routes.post_path(@conn, :new)%>
<%=for post <- @posts do%>
<p><%=post.title%></p>
<p><%=post.body%></p>
<%=link "Comments", to: Routes.post_comment_path(@conn, :index, post)%>
<p>---------------------------</p>
<%end%>